@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Single+Day&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
/* 
body {
	@apply bg-slate-200;
} */


*::-webkit-scrollbar {
    -webkit-appearance: none;
}

*::-webkit-scrollbar:vertical {
    width:10px;
}

*::-webkit-scrollbar-button:increment,*::-webkit-scrollbar-button {
    display: none;
} 

*::-webkit-scrollbar:horizontal {
    height: 10px;
}

*::-webkit-scrollbar-thumb {
    background-color: #cbd5e1;
    border-radius: 20px;
    border: 2px solid #dbe5f0;
/*     color: #1e293b;
    color: #e2e8f0; */
}

*::-webkit-scrollbar-track {
    border-radius: 10px;  
}